<h1>Results Page</h1>

<% data["Search"].forEach(function(movie){ %>
    <div>
        <a href = "/info?movieID=<%=movie.imdbID%>&movieTitle=<%=movie.Title%>&moviePlot =<%=movie.Plot%>&movieCast=<%=movie.Actors%>"><%= movie.Title %></strong></a>
    </div>
<% }); %>



