<% include ../partials/header %>

<style>
input[type="submit"]{
    background-color: #555;
    color: #fff;
    width: 150px;
    border-radius: 20px;

}
</style>

<body background="/assets/images/mbr-1624x1080.jpg" >
<div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(255, 255, 255);"></div>
<section class="mbr-section mbr-section--relative mbr-section--fixed-size mbr-parallax-background mbr-after-navbar" id="features1-o" data-rv-view="206" >
<!--style="background-image: url(assets/images/mbr-1624x1080.jpg);"-->
    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(255, 255, 255);"></div>
    
    <div class="mbr-section__container container mbr-section__container--std-top-padding" style="padding-top: 93px;">
        <div class="mbr-section__row row">
          <% data["Search"].forEach(function(movie) { %>
          
            <div class="mbr-section__col col-xs-12 col-md-6 col-sm-6;">
                <div class="mbr-section__container mbr-section__container--center mbr-section__container--center">
                   <b><a href = "/info?movieID=<%=movie.imdbID%>&movieTitle=<%=movie.Title%></a></b>&moviePlot =<%=movie.Plot%>&movieCast=<%=movie.Actors%>"><img src="<%= movie.Poster %>"><br><br><%= movie.Title %></strong></a>
                
                </div>
                <br><br><br>
            </div>
            <% }) %>
        </div>
    </div>
    
</section>

  <% include ../partials/footer %>